<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="panel-title pull-left">{{contact.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <img [src]="contact.imageUrl" alt="{{contact.name}}" class="contact-image pull-left">
            </div>
            <div class="col-xs-6 pull-right">
                <a routerLink="edit" 
                   class="btn btn-primary">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <h3>Email: {{contact.email}}</h3>
        <h3>Phone: {{contact.phone}}</h3>
    </div>
</div>
