<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="panel-title pull-left">Contacts</h1>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success pull-right">New Contact</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div *ngFor="let contact of contacts" class="row panel panel-default">
            <div class="col-xs-6">
                <h3>{{contact.name}}</h3>
            </div>
            <div class="col-xs-6 pull-right">
                <img [src]="contact.imageUrl" alt="{{contact.name}}" class="contact-image pull-right">
            </div>
        </div>
    </div>
</div>
