<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="panel-title pull-left">Contacts</h1>
      </div>
      <div class="col-xs-6">
        <button routerLink="new" 
                class="btn btn-success pull-right">New Contact</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <app-contact-item
      *ngFor="let contact of contacts"
      [contact]="contact"
    ></app-contact-item>
  </div>
</div>
