<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <span class="title pad-left-right">Contacts</span>
          </div>
          <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <input
                #searchBox 
                type="text"
                id="searchBox"
                class="form-control"
                placeholder="Enter a search value"
                (keyup)="search(searchBox.value)">
              <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <app-contact-item
      *ngFor="let contact of contacts | contactsFilter:term"
      [contact]="contact"
    ></app-contact-item>
  </div>
</div>
